@model Login

@{

    ViewData["Title"] = "Iniciar sesión";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="IniciarSesion">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Recordarme" class="form-check-label"></label>
                    <input asp-for="Recordarme" class="form-check-label" />
                    <span asp-validation-for="Recordarme" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>

                <br />
                <div class="form-group">
                    <p class="control-label">No tenes cuenta? <a asp-area="" asp-controller="Account" asp-action="Registrar">Registrarse</a></p>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}