@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br />
<table>
    <tr>
        <td rowspan="2"><img height=55px width=80px src="~/img/logo-ORT.png" alt="ORT logo"></td>
        <td class="fw-bold">PNT1</td>
    </tr>
    <tr>
        <td class ="fw-bold">Grupo 5 - Curso C</td>
    </tr>
</table>
<br />

<h5 class="fw-bold">Desarrollado por:</h5>
<h6>&emsp;• Mauricio La Rotonda - <a href="https://github.com/mlarotonda">/mlarotonda</a></h6>
<h6>&emsp;• Joaquin Rezzo - <a href="https://github.com/Rezzo213">/Rezzo213</a></h6>
<h6>&emsp;• Fernando Salas - <a href="https://github.com/salasfer">/salasfer</a></h6>

<div class="privacy">
    <img src="~/img/messi2.png" alt="Messi">
</div>