@model Foro_C.Models.Respuesta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Respuesta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="hidden" asp-for="PreguntaId" value="@ViewData["PreguntaId"]" />
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-controller="Preguntas" asp-action="Details" asp-route-id="@ViewData["PreguntaId"]" class="btn btn-secondary">Volver al listado</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
